body {
    font-size: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.photo-reel, .intro, .contact-me {
    display: grid;
    place-content: center;
}

.header-style {
    border-bottom: solid black;
    margin: 0;
}

.header-style {
    margin: 0.3rem;
    padding: 0.5rem;
    /* display: flex;
    flex-direction: row; */
}

a {
    color: inherit;
    list-style-type: none;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu > div {
    flex: 1;
}

.menu > .name {
    margin-right: auto;
    flex: 2;
}

.photo-reel {
    display: flex;
    justify-content: center;
}

.intro-img {
    border: black solid 2px;
    margin: 2rem;
    max-width: 45%;
    max-height: 5%;
}

.intro {
    border: black solid;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}

.about-intro {
    margin: auto 20rem auto 20rem;
    font-size: 2rem;
}

/*small*/
/* @media screen and (min-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .header, .photo-reel, .intro, .contact-me {
        display: grid;
        place-content: center;
    }
} */